.app__navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(218, 172, 0, 1);
}

.navbar__padding {
    padding: 2rem  7.5rem;
}

.search {
    width: 200px;
    color: #FFFFFF;
    font-size: 21px;
    background: rgba(252, 195, 2, 1);
    border: none;
    outline: none;
    padding-left: 15px;
}

::placeholder {
    color: #FFFFFF;
  }
  

.search-icon {
    background: rgba(0, 190, 201, 1);
    width: 74px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-icon img {
    width: 27px;
    height: 27px;
}

.search-bar {
    display: flex;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.app__navbar-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 212px;
    height: 56px;
}

.app__navbar-logo img {
    width: 100%;
    height: 100%;
}

.app__navbar-links {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.app__navbar-links li {
    margin: 0 1.3rem;
    cursor: pointer;
    color: #FFFFFF;
    font-size: 29px;
}



.navbar__links-container__smallscreen {
  display: none;
}

.navbar__links-smallscreen li {
  display: inline-block;
  list-style: none;
  margin: 0 1rem;

}

.navbar__links-smallscreen li a {
  text-decoration: none;
  color: #FFFFFF;
  font-size: 29px;

}
.app__navbar-smallscreen{
  display: none;
}

.app__navbar-smallscreen_overlay {
  position: fixed;
  top: 85px;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(218, 172, 0, 1);
  transition: 0.9s ease;
  flex-direction: column;
  z-index: 5;
  padding-bottom: 10rem;
  
  
}

/*Responsive styles */

@media screen and (max-width: 1150px) {
    .app__navbar-logo {
        width: 150px;
    }
    .search-bar {
        display: none;
    }
    .app__navbar-links {
        display: none;
    }

    .app__navbar-smallscreen{
        display: flex;
      }
      .navbar__links-container__smallscreen {
        display: flex;
    
      }
    
      .navbar__links-smallscreen {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100vh;
        justify-content: center;
        align-items: center;
      }
      .navbar__links-smallscreen li{
        padding-top: 1.5rem;
      }
    
}
@media screen and (max-width: 950px) {
    .navbar__padding  {
        padding: 1rem 4rem;
    }
    
}


@media screen and (max-width: 800px) {
    .navbar__padding {
        padding: 1rem 3rem;
    }
   
}
@media screen and (max-width: 650px) {
    .navbar__padding {
        padding: 1rem 2rem;
    }
}
@media screen and (max-width: 450px) {
    .navbar__padding {
        padding: 1.5rem 1rem;
    }
}

@media screen and (max-width: 300px) {
    .app__navbar-logo {
        width: 130px;
    }
    .navbar__links-smallscreen li a {
        
        font-size: 1.4rem;
      
      }
}


